.ob-post {
  &__banner {
    height: 40vh;

    @media (min-width: 1280px) {
      height: 656px;
    }
  }

  &__content-container {
    max-width: 672px;
  }

  &__author-container {
    max-width: 960px;
  }

  &__markdown-content {
    > * {
      @apply ob-mb-4;

      @media (min-width: 1280px) {
        @apply ob-mb-8;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: 1.3em;

      @media (min-width: 1280px) {
        line-height: 1.2em;
      }
    }

    h1 {
      font-size: 1.5rem;

      @media (min-width: 1280px) {
        font-size: 2.4rem;
      }
    }

    h2 {
      font-size: 1.45rem;

      @media (min-width: 1280px) {
        font-size: 2.2rem;
      }
    }

    h3 {
      font-size: 1.4rem;

      @media (min-width: 1280px) {
        font-size: 2rem;
      }
    }

    h4 {
      font-size: 1.35rem;

      @media (min-width: 1280px) {
        font-size: 1.8rem;
      }
    }

    h5 {
      font-size: 1.3rem;

      @media (min-width: 1280px) {
        font-size: 1.6rem;
      }
    }

    h6 {
      font-size: 1.25rem;

      @media (min-width: 1280px) {
        font-size: 1.4rem;
      }
    }

    ul, ol {
      @apply ob-pl-6;
    }

    ul {
      @apply ob-list-disc;
    }

    ol {
      @apply ob-list-decimal;
    }

    li {
      @apply ob-py-1;
    }

    a {
      @apply ob-text-primary ob-underline;
    }
  }
}
