.ob-post {
  &__content-container {
    max-width: 672px;
  }

  &__banner {
    height: 40vh;

    @media (min-width: 1280px) {
      height: 656px;
    }
  }

  &__author-container {
    max-width: 960px;
  }
}
